/* Politics */
.post:last-of-type {
    margin-bottom: 0;
}
.blog-post {
    padding-left: 0;
    padding-right: 0;
}
.col-lg-8{
    position: relative;
    width: 100%;
}
main{
    padding: 50px 0 100px;
    display: block;
}
*{
    box-sizing: border-box;
}
.container {
    max-width: 740px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.blog-post .post-thumbnail img {
    width: 100%;
    margin-bottom: 10px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
.post-meta {
    margin: 10px 0;
    font-size: 0.8em;
}
.justify-content-between {
    
    justify-content: space-between!important;
}
.d-flex {
    
    display: flex!important;
}
.blog-post h1 {
    color: #444;
    line-height: 1.1em;
}
h1 {
    
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    
}
.post a {
    text-decoration: none;
}
h1 a {
    margin-left: 10px;
    font-size: 0.9em;
    opacity: 0;
    transition: all 0.3s;
    color: #555;
}
a{
    display: inline-block;
    background-color: transparent;
}
a:-webkit-any-link {
    cursor: pointer;
}
.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
a i{
    transition: none;
}
i{
    text-decoration: none;
}
.blog-post .post-footer {
    margin-top: 20px;
    
}
.blog-post .post-footer {
    font-size: 0.8em;
    
}

.flex-sm-row {
    
    flex-direction: row!important;
}
.align-items-center {
    
    align-items: center!important;
}
.blog-post .post-body {
    margin-top: 40px;
}
.blog-post .post-body p {
    margin-bottom: 30px;
}
.lead {
    font-size: 1.3rem;
    font-weight: 300;
}
p {
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.blog-post .post-body p:not(.lead) {
    font-size: 1em;
    line-height: 1.7em;
    color: #555;
}
.blog-post .post-body h3{
    color: #333;
}
.post h3 {
    line-height: 1.1em;
    transition: all 0.3s;
    margin-bottom: 1rem;
    color: #222;
}

h3{
    font-size: 1.75rem;
    font-family: inherit;
    font-weight: 700;
    margin-top: 0;
}
blockquote.blockquote {
    font-size: 1.05em;
    line-height: 1.7em;
    border-color: #999;
    border: 1px solid #eee;
    border-left: 6px solid #eee;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 30px;
}
blockquote {
    margin: 0 0 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.blockquote-footer {
    color: #868e96;
}
.blockquote-footer {
    display: block;
    font-size: 80%;
}
cite {
    font-style: italic;
}
.blog-post .post-comments {
    margin-top: 50px;
}
.blog-post .post-comments header {
    margin-bottom: 40px;
}
header{
    display: block;
}
.h6 {
    font-size: 1rem;
}
h3, .h6{
    font-family: inherit;
    font-weight: 700;
}
h3{
    display: block;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.blog-post .post-comments span.no-of-comments {
    color: #777;
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 400;
}
span {
    display: inline-block;
    text-decoration: none;
}
.blog-post .post-comments .image {
    margin-right: 15px;
}
.blog-post .post-comments img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}
.rounded-circle {
    border-radius: 50%!important;
}

img {
    vertical-align: middle;
    border-style: none;
}
.post .title{
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}
.blog-post .post-comments strong {
    display: block;
    color: #555;
}
strong {
    font-weight: 700;
}
.blog-post .post-comments span.date {
    font-size: 0.8em;
    color: #999;
}
.post .date{
    font-weight: 400;
    
    text-transform: capitalize;
}
.post .date {
    letter-spacing: 0.05em;
    
}
a, i, span {
    display: inline-block;
    text-decoration: none;
   
    transition: all 0.3s;
}
.blog-post .add-comment {
    margin-top: 50px;
}
.blog-post .add-comment header {
    margin-bottom: 30px;
}
form {
    display: block;
    margin-top: 0em;
}
.row {
    
    display: flex;
    
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    margin-bottom: 1rem;
}

.col-md-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.blog-post .add-comment input {
    background: none;
    border: none;
    border-bottom:  solid #ddd;
    padding: 10px 0;
    border-radius: 0;
   
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


button, input, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
input[type="text" i] {
    padding: 1px 2px;
}
user agent stylesheet
input {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    border-image: initial;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.col-md-12{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.blog-post .add-comment textarea {
    min-height: 150px;
}
.blog-post .add-comment input, .blog-post .add-comment textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    border-radius: 0;
    font-family: "Open Sans", sans-serif;
}
textarea.form-control {
    height: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
textarea {
    overflow: auto;
    resize: vertical;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
textarea {
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
    padding: 2px;
}
.post .category a {
    color: #999;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.col-lg-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
aside {
    padding: 50px 0 100px;
    display: block;
}
.widget {
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #eee;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.widget header {
    margin-bottom: 20px;
}
header{
    display: block;
}
.h6 {
    font-size: 1rem;
}
h3,.h6{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}
h3{
    margin-top: 0;
}
* ::after, ::before {
    box-sizing: border-box;
}
    user agent stylesheet
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;    
}
.widget.latest-posts a {
    display: block;
    color: #555;
    text-decoration: none;
}
a{
  transition: all 0.3s;
}
.widget.latest-posts .item {
    margin-bottom: 20px;
}
.widget.latest-posts .image {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.widget.latest-posts strong {
    font-size: 0.95em;
    display: block;
    line-height: 1em;
}
strong {
    font-weight: 700;
}
.widget.latest-posts .views{
    font-size: 0.8em;
    font-weight: 400;
    color: #bbb;
    margin-top: 10px;
}
.widget.latest-posts .views i{
    margin-right: 5px;
}
i[class*="icon-"] {
    
    transform: translateY(3px);
}
a i {
    
    transition: none;
}
.post .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
span {
    display: inline-block;
    text-decoration: none;
   
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
.widget.latest-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #bbb;
    margin-top: 10px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.widget.latest-posts .comments i {
    margin-right: 3px;
}
i{
    display: inline-block;
    text-decoration: none;
    font-style: italic;
}
.widget.latest-posts .views::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}
