<!DOCTYPE html>
{% extends 'blogapp/base.html' %}

{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/blogstyle3.css' %}">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/chicago.jpg' %}" class="d-block w-1920" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">First slide label</h5>
        <p style="color: yellow;">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/chicago.jpg' %}" class="d-block w-1920" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Second slide label</h5>
        <p style="color: yellow;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/chicago.jpg' %}" class="d-block w-1920" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Third slide label</h5>
        <p style="color: yellow;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/chicago.jpg' %}" class="d-block w-1920" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Fourth slide label</h5>
        <p style="color: yellow;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/chicago.jpg' %}" class="d-block w-1920" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Fifth slide label</h5>
        <p style="color: yellow;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/chicago.jpg' %}" class="d-block w-1920" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Sixth slide label</h5>
        <p style="color: yellow;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/chicago.jpg' %}" class="d-block w-1920" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color: yellow;">Seventh slide label</h5>
        <p style="color: yellow;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>



<!--Latest Posts-->

<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Latest from the blog</h2>
      <p class="text-big">We have the latest posts from each categories</p>
    </header>
    <div class="row">
      {% for post in posts %}
      <div class="post col-lg-4 col-md-6 col-sm-6 thumbnail">
        <div class="post-thumbnail"><a href="{% url 'post_detail' post.slug %}"><img src="{{post.images.url}}" alt="No"
              class="img-fluid"></a></div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="fas fa-clock">{{ post.pub_date }}</div>
            <div class="category">

              <a href="{% url 'post_detail' post.slug %}">{{post.category}}</a>

            </div>
          </div><a href="{% url 'post_detail' post.slug %}">
            <h3 id="specialone" class="h4">{{post.title}}</h3>
          </a>
          <p style="margin-top: -25px;" class="text-muted">{{post.content | truncatewords:15 | safe}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</section>

</div>
<section style="background: url(&quot;/static/images/programming.jpg&quot;) center bottom / cover;" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 style="color: white;">This is the greatest path I ever took, becoming a Programmer.
          Let me tell you my story to give you a bit of encouragement. It is a path you take that you will never regret,
          just devote your time and be FOCUS.</h2><a href="{% url 'about' %}" class="hero-link">Read my story</a>
      </div>
    </div>
  </div>
</section>

<!--Articles For the Blg-->
<div class="container">
  <hr>
  <a style="color: black;" href="{% url 'article_cat' %}">
    <h2>Checkout Articles</h2>
  </a>
  <div class="row">
    {% for art in articles %}
    <div class="col-lg-4 col-md-6 col-sm-6"><a href="{% url 'article_detail' art.slug %}"><img class="img-fluid"
          src="{{art.thumbnail.url}}"></a>
      <a style="color: black; margin-top: 10px;" href="{% url 'article_detail' art.slug %}">
        <h5>
          {{art.title}}
        </h5>
      </a>

    </div>
    {% endfor %}
  </div>
</div>

<!-- Footer for Blog -->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <h6 class="text-white">SIRNUSI's BLOG</h6>
        </div>
        <div class="contact-details">
          <p>Phone: <a href="tel:09065636501">09065636501</a></p>
          <p>Email:<a style="text-decoration:none;"
              href="mailto:davidsanusi360@gmail.com, timilehinojobello@gmail.com">davidsanusi360@gmail.com,
              timilehinojobello@gmail.com</a></p>
          <ul class="social-menu">
            <li class="list-inline-item"><a target="_blank"
                href="https://www.facebook.com/profile.php?id=100009887508687"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://twitter.com/davidsanusi3"><i
                  class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/sir_nusi_/"><i
                  class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a target="_blank"
                href="https://www.linkedin.com/in/sanusi-david-4b93251a3/"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="menus d-flex">
          <ul class="list-unstyled">
            <!-- <li> <a href="#">My Account</a></li>
            <li> <a href="#">Add Listing</a></li>
            <li> <a href="#">Pricing</a></li> -->
            <li> <a href="#">Privacy &amp; Policy</a></li>
          </ul>
          <!-- <ul class="list-unstyled">
            <li> <a href="#">Our Partners</a></li>
            <li> <a href="#">FAQ</a></li>
            <li> <a href="#">How It Works</a></li>
            <li> <a href="#">Contact</a></li>
          </ul> -->
        </div>
      </div>

    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>© 2020. All rights reserved. Written and Developed by Sanusi David.</p>
        </div>
        <div class="col-md-6 text-right">
          <p>Template By <a style="color: black;" href="https://bootstrapious.com/p/bootstrap-carousel"
              class="text-white">Bootstrapious</a>
            <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>


{% endblock %}